share                  -rw,hard,intr,nosuid,quota  {{ nfs_host }}:/data/share
share-2                -rw,hard,intr,nosuid,quota  {{ nfs_host }}:/data/share-2
fragmentor             -rw,hard,intr,nosuid,quota  {{ nfs_host }}:/data/fragmentor
virtual-screening-data -rw,hard,intr,nosuid,quota  {{ nfs_host }}:/data/virtual-screening-data
xchem-fragalysis       -rw,hard,intr,nosuid,quota  {{ nfs_host }}:/data/xchem-fragalysis
dnissley               -rw,hard,intr,nosuid,quota  {{ nfs_host }}:/data/dnissley
